page-home-screen {

  .fullTile{
    margin: 20px;
  }
  .tileImg{
    width: 25px;
  }
  .tileTitle{
    margin: 5px;
    font-size: 15px;
  }

  .footer{
    padding:5px;
    text-align: center;
  }

  .icon-left{
    font-size: 2em;
    margin-right: 100px;
  }
  .icon-middle{
    font-size: 2em;
  }
  .icon-right{
    font-size: 2em;
    right: 5px;
    margin-left: 100px;
  }
}
